<!DOCTYPE html>
<html ng-app="movieApp">
<head>
	<title></title>

	<meta name="viewport" content="width=device-width">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">

	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
 	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>

  	<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
  
	<script src="/node_modules/readmore-js/readmore.min.js"></script>

	<script type="text/javascript" src="scripts.js"></script>

	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body ng-controller="movieController">

<div layout="row" layout-align="center">
	<md-input-container>
		<label>Search</label>
			<!-- <input class="search-box" type="text" ng-model="searchTerm" ng-change="userSearch(searchTerm); searchUsed = true"> -->
			<input class="search-box" type="text" ng-model="searchTerm" ng-change="userSearch(searchTerm); searchUsed = true">
	</md-input-container>
</div>


<div ng-cloak>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Now Playing">
        <md-content layout="column" layout-gt-sm="row" >
      
	        	<div layout="column" layout-gt-sm="row"  flex-gt-sm="50" style="overflow:hidden" layout-wrap>
        			<div flex flex-gt-sm="100" class="backdrop-wrapper" >
        				<h2 class="movie-title">{{npArray[0].title}}</h2>
        				<img ng-src="{{npPath}}{{npArray[0].backdrop_path}}">
        			</div>

					<div flex flex-gt-sm="50" class="backdrop-wrapper">
						<h2 class="movie-title">{{npArray[1].title}}</h4>
						<img ng-src="{{npPath}}{{npArray[1].backdrop_path}}">
					</div>

					<div flex flex-gt-sm="50" class="backdrop-wrapper" >
						<h2 class="movie-title">{{npArray[2].title}}</h4>
						<img ng-src="{{npPath}}{{npArray[2].backdrop_path}}">
					</div>
	        	</div>

	        	<div layout="column" layout-gt-sm="row" flex-gt-sm="50" style="overflow:hidden" layout-wrap>

	    			<div flex flex-gt-sm="50" class="backdrop-wrapper" >
	    				<h2 class="movie-title">{{npArray[3].title}}</h2>
	    				<img ng-src="{{npPath}}{{npArray[3].backdrop_path}}">
	    			</div>

					<div  flex flex-gt-sm="50" class="backdrop-wrapper">
						<h2 class="movie-title">{{npArray[4].title}}</h4>
						<img ng-src="{{npPath}}{{npArray[4].backdrop_path}}">
					</div>

					<div flex flex-gt-sm="100" class="backdrop-wrapper" >
						<h2 class="movie-title">{{npArray[5].title}}</h4>
						<img ng-src="{{npPath}}{{npArray[5].backdrop_path}}">
					</div>
	        	</div>
        </md-content>
      </md-tab>
      <md-tab label="Most Popular" ng-click="searchUsed = false">
        <md-content layout="column" layout-gt-sm="row" >
      
	        	<div layout="column" layout-gt-sm="row"  flex-gt-sm="50" style="overflow:hidden" layout-wrap>
        			<div flex flex-gt-sm="100" class="backdrop-wrapper" >
        				<h2 class="movie-title">{{mpArray[0].title}}</h2>
        				<img ng-src="{{mpPath}}{{mpArray[0].backdrop_path}}">
        			</div>

					<div flex flex-gt-sm="50" class="backdrop-wrapper">
						<h2 class="movie-title">{{mpArray[1].title}}</h4>
						<img ng-src="{{mpPath}}{{mpArray[1].backdrop_path}}">
					</div>

					<div flex flex-gt-sm="50" class="backdrop-wrapper" >
						<h2 class="movie-title">{{mpArray[2].title}}</h4>
						<img ng-src="{{mpPath}}{{mpArray[2].backdrop_path}}">
					</div>
	        	</div>

	        	<div layout="column" layout-gt-sm="row" flex-gt-sm="50" style="overflow:hidden" layout-wrap>

	    			<div flex flex-gt-sm="50" class="backdrop-wrapper" >
	    				<h2 class="movie-title">{{mpArray[3].title}}</h2>
	    				<img ng-src="{{mpPath}}{{mpArray[3].backdrop_path}}">
	    			</div>

					<div  flex flex-gt-sm="50" class="backdrop-wrapper">
						<h2 class="movie-title">{{mpArray[4].title}}</h4>
						<img ng-src="{{mpPath}}{{mpArray[4].backdrop_path}}">
					</div>

					<div flex flex-gt-sm="100" class="backdrop-wrapper" >
						<h2 class="movie-title">{{mpArray[5].title}}</h4>
						<img ng-src="{{mpPath}}{{mpArray[5].backdrop_path}}">
					</div>
	        	</div>
        </md-content>
      </md-tab>
     
      <md-tab md-active="searchUsed" label="Search">
<!--       <md-tab  label="Search"> -->
        <md-content class="md-padding">
          	<md-content class="md-padding" layout-xs="column" layout-wrap layout="row">
			    <div ng-repeat="movie in movieArray" flex-xs flex-gt-xs="25" flex-gt-md="20" ng-show="movie.poster_path.length" layout="column">
			        <md-card class="search-result" ng-click="moreInfo($event, movie)">
			            <img ng-src="{{imagePath}}{{movie.poster_path}}" class="md-card-image" alt="movieposter">
			            <md-card-title>
			                <md-card-title-text>
			                    <span class="md-headline">{{movie.title}}</span>
			                </md-card-title-text>
			            </md-card-title>
			        </md-card>
			    </div>
			</md-content>
        </md-content>
      </md-tab>

    </md-tabs>
  </md-content>
</div>



<md-dialog>

</md-dialog>


</body>
</html>




